body {
	background-color: #66a3ff;
}

ul {  
	list-style-type: none;
}

.navBar {
	font-family: sans-serif;
	text-decoration: none;
	color: #ffffff;
	display: block;
	height: auto;
	width: auto;
	padding: 8px;
	background-color: #0099ff;
}

li {
	text-decoration: none;
	float: left;
	position: relative;
	left: 10%;
}

ul {
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: sans-serif;
	position: fixed;
	left: 10%;
	bottom: 85%;
	color: red;
}

p {
	font-family: sans-serif;
	position: fixed;
	left: 10%;
	bottom: 84%;
	color: black;
}

.navBar:hover {
	background-color: #0000ff;
}